* {
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.overview {
  padding-top: 30px;
}

.calculate {
  background: #fa743f;
  border-radius: 10px;
  color: white;
  border-color: #fa743f;
}
.div80 {
  width: 90%;
}
.div70 {
  width: 70%;
}
.calculate:hover {
  background: #fa743f;
  border-color: #fa5717;
  text-decoration: none;
  color: white;
}
.day {
  display: inline;
  margin: 30px;
  text-align: center;
}
.results {
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.resultRow {
  width: "80%";
  display: inline-grid;
  grid-template-columns: repeat(7, 100px);
  justify-content: center;
  align-items: center;
}
.dateInput {
  text-decoration: none;
  list-style: none;
}
.percentage {
  text-decoration: none;
  list-style: none;
}

.green {
  background-color: yellowgreen;
  border-radius: 50%;
}

.yellow {
  background-color: yellow;
  border-radius: 50%;
}

.red {
  background-color: tomato;
  border-radius: 50%;
}
.para {
  margin-top: 30px;

  padding-top: 40px;
}
.illustration {
  position: relative;
  display: flex;
}
img {
  position: relative;
}
.overImage {
  position: absolute;
  top: 80px;
  left: 200px;
  width: 30%;
  line-height: 30px;
}
