.overview {
  padding-top: 30px;
}

.calculate {
  background: #fa743f;
  border-radius: 10px;
  color: white;
  border-color: #fa743f;
}

.calculate:hover {
  background: #fa743f;
  border-color: #fa5717;

  color: white;
}
.day {
  display: inline;
  margin: 30px;
  text-align: center;
}

.resultRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dateInput {
  text-decoration: none;
  list-style: none;
}
.percentage {
  text-decoration: none;
  list-style: none;
}

.green {
  background-color: yellowgreen;
  border-radius: 50%;
}

.yellow {
  background-color: yellow;
  border-radius: 50%;
}

.red {
  background-color: tomato;
  border-radius: 50%;
}
